<section class="relative bg-linear-to-br from-olive-950 to-olive-800 min-h-screen">
  <div class="flex flex-col items-center justify-center px-6 mx-auto min-h-screen lg:py-0">
    <a href="#" class="flex items-center mb-8 text-2xl font-semibold text-white">
      <img class="w-72 h-auto drop-shadow-2xl" src="/logo.png" alt="Xtrail logo" />
    </a>
    <div
      class="w-full bg-zinc-950 backdrop-blur-sm rounded-2xl shadow-2xl border border-gray-700/50 md:mt-0 sm:max-w-md xl:p-0"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-2xl font-bold leading-tight tracking-tight text-white md:text-3xl">
          Reset your password
        </h1>
        <p class="text-sm text-gray-300">Enter a new password for your account</p>
        <form class="space-y-4 md:space-y-6" (ngSubmit)="onSubmit()">
          @if (submitted) {
            <div class="bg-lime-400/20 border border-lime-400 text-lime-400 p-4 rounded-xl">
              Password reset successful! Redirecting to login...
            </div>
          }
          @if (error) {
            <div class="bg-red-400/20 border border-red-400 text-red-400 p-4 rounded-xl">
              {{ error }}
            </div>
          }
          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-white"
              >New Password</label
            >
            <input
              type="password"
              name="password"
              id="password"
              [(ngModel)]="password"
              class="bg-gray-800/50 border border-gray-600 text-white rounded-xl focus:ring-2 focus:ring-lime-400 focus:border-lime-400 block w-full p-3 placeholder-gray-400"
              placeholder="*********"
              required
            />
          </div>
          <div>
            <label for="confirm" class="block mb-2 text-sm font-medium text-white"
              >Confirm password</label
            >
            <input
              type="password"
              name="confirm password"
              id="confirm"
              [(ngModel)]="confirmPassword"
              class="bg-gray-800/50 border border-gray-600 text-white rounded-xl focus:ring-2 focus:ring-lime-400 focus:border-lime-400 block w-full p-3 placeholder-gray-400"
              placeholder="*********"
              required
            />
          </div>
          <button
            type="submit"
            class="w-full bg-lime-400 text-black font-semibold rounded-xl px-8 py-3.5 hover:bg-lime-300 hover:cursor-pointer transition-colors shadow-lg"
          >
            Send
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
